name: pos_coffeeshop_ayudian
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.5.6
  intl: ^0.19.0
  image_picker: ^1.0.7
  csv: ^6.0.0
  path_provider: ^2.1.2
  esc_pos_utils_plus: ^2.0.3
  print_bluetooth_thermal: ^1.1.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
